<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raphaelkawabata.popularmovies">

    <!-- Add Internet connection access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDetailsActivity"
            android:label="Movie Detail"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustUnspecified|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FavoriteMovieActivity"
            android:label="@string/favorite_movie"
            android:parentActivityName=".MainActivity"></activity>

        <provider
            android:name=".Data.FavoriteContentProvider"
            android:authorities="com.example.raphaelkawabata.popularmovies"
            android:exported="false" />
    </application>

</manifest>